:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form-field {
  display: block;
}

.form {
  width: 25rem;
}

.form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
