<form class="form" [formGroup]="loginForm">
  <mat-form-field class="form-field">
    <mat-label>Your email</mat-label>
    <input matInput formControlName="email" type="text" name="email-hasura" />
  </mat-form-field>
  <mat-form-field class="form-field">
    <mat-label>Your password</mat-label>
    <input matInput formControlName="password" type="password" />
  </mat-form-field>
  <div class="form-footer">
    <button mat-button (click)="loginUser()">Login</button>
    <a routerLink="/signup">Create a user</a>
  </div>
  <button mat-button>Login with Google</button>
</form>
